language: java

jdk: openjdk8

branches:
  only:
    - master

before_install:
  - pip install --user codecov

script:
  - mvn clean install -P travis

after_success:
  - bash <(curl -s https://codecov.io/bash)

env:
  global:
    - CODECOV_TOKEN=5ee0f56b-7d1e-4e5c-870a-f6c128fa62eb